ConsoleApp1/Connected Services/IRISCDCService/IISServiceNew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="urn:cdc:iisb:2011" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="IISServiceNew" targetNamespace="urn:cdc:iisb:2011" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:cdc:iisb:2011">
      <xsd:complexType name="connectivityTestRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="echoBack" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="connectivityTestResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="return" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="submitSingleMessageRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="username" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="password" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="facilityID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="hl7Message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="submitSingleMessageResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="return" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="soapFaultType">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="Code" type="xsd:integer" />
          <xsd:element minOccurs="1" name="Reason" type="xsd:string" />
          <xsd:element minOccurs="1" name="Detail" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UnsupportedOperationFaultType">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="Code" type="xsd:integer" />
          <xsd:element fixed="UnsupportedOperation" name="Reason" />
          <xsd:element minOccurs="1" name="Detail" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SecurityFaultType">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="Code" type="xsd:integer" />
          <xsd:element fixed="Security" name="Reason" />
          <xsd:element minOccurs="1" name="Detail" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MessageTooLargeFaultType">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="Code" type="xsd:integer" />
          <xsd:element fixed="MessageTooLarge" name="Reason" />
          <xsd:element minOccurs="1" name="Detail" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="connectivityTest" type="tns:connectivityTestRequestType" />
      <xsd:element name="connectivityTestResponse" type="tns:connectivityTestResponseType" />
      <xsd:element name="submitSingleMessage" type="tns:submitSingleMessageRequestType" />
      <xsd:element name="submitSingleMessageResponse" type="tns:submitSingleMessageResponseType" />
      <xsd:element name="fault" type="tns:soapFaultType" />
      <xsd:element name="UnsupportedOperationFault" type="tns:UnsupportedOperationFaultType" />
      <xsd:element name="SecurityFault" type="tns:SecurityFaultType" />
      <xsd:element name="MessageTooLargeFault" type="tns:MessageTooLargeFaultType" />
    </xsd:schema>
  </types>
  <message name="connectivityTest_Message">
    <documentation>connectivity test request</documentation>
    <part name="parameters" element="tns:connectivityTest" />
  </message>
  <message name="connectivityTestResponse_Message">
    <documentation>connectivity test response</documentation>
    <part name="parameters" element="tns:connectivityTestResponse" />
  </message>
  <message name="submitSingleMessage_Message">
    <documentation>submit single message request.</documentation>
    <part name="parameters" element="tns:submitSingleMessage" />
  </message>
  <message name="submitSingleMessageResponse_Message">
    <documentation>submit single message response</documentation>
    <part name="parameters" element="tns:submitSingleMessageResponse" />
  </message>
  <message name="UnknownFault_Message">
    <part name="fault" element="tns:fault" />
  </message>
  <message name="UnsupportedOperationFault_Message">
    <part name="fault" element="tns:UnsupportedOperationFault" />
  </message>
  <message name="SecurityFault_Message">
    <part name="fault" element="tns:SecurityFault" />
  </message>
  <message name="MessageTooLargeFault_Message">
    <part name="fault" element="tns:MessageTooLargeFault" />
  </message>
  <portType name="IIS_PortType">
    <operation name="connectivityTest">
      <documentation>the connectivity test</documentation>
      <input wsaw:Action="urn:cdc:iisb:2011:connectivityTest" message="tns:connectivityTest_Message" />
      <output wsaw:Action="urn:cdc:iisb:2011:connectivityTestResponse" message="tns:connectivityTestResponse_Message" />
      <fault name="UnknownFault" message="tns:UnknownFault_Message" />
      <fault name="UnsupportedOperationFault" message="tns:UnsupportedOperationFault_Message" />
    </operation>
    <operation name="submitSingleMessage">
      <documentation>submit single message</documentation>
      <input wsaw:Action="urn:cdc:iisb:2011:submitSingleMessage" message="tns:submitSingleMessage_Message" />
      <output wsaw:Action="urn:cdc:iisb:2011:submitSingleMessageResponse" message="tns:submitSingleMessageResponse_Message" />
      <fault name="UnknownFault" message="tns:UnknownFault_Message" />
      <fault name="SecurityFault" message="tns:SecurityFault_Message" />
      <fault name="MessageTooLargeFault" message="tns:MessageTooLargeFault_Message" />
    </operation>
  </portType>
  <binding name="client_Binding_Soap12" type="tns:IIS_PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="connectivityTest">
      <soap12:operation soapAction="urn:cdc:iisb:2011:connectivityTest" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
      <fault name="UnknownFault">
        <soap12:fault use="literal" name="UnknownFault" namespace="" />
      </fault>
      <fault name="UnsupportedOperationFault">
        <soap12:fault use="literal" name="UnsupportedOperationFault" namespace="" />
      </fault>
    </operation>
    <operation name="submitSingleMessage">
      <soap12:operation soapAction="urn:cdc:iisb:2011:submitSingleMessage" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
      <fault name="UnknownFault">
        <soap12:fault use="literal" name="UnknownFault" namespace="" />
      </fault>
      <fault name="SecurityFault">
        <soap12:fault use="literal" name="SecurityFault" namespace="" />
      </fault>
      <fault name="MessageTooLargeFault">
        <soap12:fault use="literal" name="MessageTooLargeFault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="cdc">
    <port name="client_Port_Soap12" binding="tns:client_Binding_Soap12">
      <soap12:address location="https://secure.iris.iowa.gov:443/webservices_trn/cdc" />
    </port>
  </service>
</definitions>